{{ if not (eq .Site.Params.dark "on") -}}
@media (prefers-color-scheme: dark) {
{{ end -}}
html {
    scrollbar-color: #6c6c6c #2e2e2e;
}

body {
    color: #5f4b32;
    background: #fbf0d9;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

header#banner a {
    color: #56442d;
    text-decoration: none;
}

header#banner nav ul li a {
    color: #56442d;
}

main#content a {
    color: #6b8d67;
}

main#content p {
    color: #5f4b32;
}

main#content hr {
    background: #7f6f5b;
}

main#content #toc h4 {
    color: #6f5d47;
}

main#content ul#posts small {
    color: #a7a7a7;
}

main#content ul#posts li a:hover {
    color: #859f81;
}

main#content header#post-header div {
    color: #afa599;
}

main#content blockquote {
    border-left: 3px solid #ecd1a8;
}

mark {
    color: #5f4b32;
}
{{- if not (eq .Site.Params.dark "on") -}}
}
{{- end -}}
